<span xmlns:th="http://www.w3.org/1999/xhtml">
        <div class="head-title">
            <div class="left">
                <h1>Phân quyền người dùng</h1>
            </div>
            <a th:href="@{/admin/user}" class="btn-download">
                <i class="fa-solid fa-arrow-left"></i>
                <span class="text">Quay lại</span>
            </a>
        </div>
        <div th:if="${message}" class="alert alert-success" role="alert">
            <p th:text="${message}"></p>
        </div>
        <div th:if="${error}" class="alert alert-danger" role="alert">
            <p th:text="${error}"></p>
        </div>
<!--        th:action="@{/admin/product-edit/{id}(id=${product.id})}-->
        <form th:object="${USER}"  th:action="@{/admin/edit-user/{id}(id=${USER.id})}" method="post"   enctype="multipart/form-data">
            <!-- Thông tin sản phẩm chính -->
            <div class="mb-3">
                <label for="nameUser" class="form-label">Tên người dùng</label>
                <input type="text" id="nameUser"  th:field="*{name}"  class="form-control" readonly>

            </div>
            <div class="mb-3">
                <label for="phone" class="form-label">Số điện thoại</label>
                <input type="number" id="phone" th:field="*{phone}" class="form-control" readonly>
            </div>
            <div class="mb-3">
                <label for="address" class="form-label">Địa chỉ</label>
                <input type="text" id="address" th:field="*{address}"  class="form-control" readonly>
            </div>
            <div class="mb-3">
                <label for="dateOfBirth" class="form-label">Ngày sinh</label>
                <input type="date" id="dateOfBirth" th:field="*{dateOfBirth}"  class="form-control" placeholder="Nhập ngày sinh"
                       readonly>
            </div>
            <div class="mb-3">
                <label for="is_active" class="form-label">Trạng thái</label>
                <input type="text" id="is_active"  th:value="${USER.isActive} ? 'Còn hoạt động' : 'Bị khóa'"  name="is_active" class="form-control" readonly>
            </div>
            <div class="mb-3">
                <label for="role" class="form-label">Quyền người dùng</label>
                <select name="role_id" id="role" class="form-control"  >
                    <option value="" disabled selected>-- Chọn quyền --</option>
                    <option th:each="role : ${listRoles}" th:value="${role.id}" th:text="${role.name}">
                    </option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary col-mt-10">Phân quyền người dùng</button>
        </form>

    </span>
