<span xmlns:th="http://www.w3.org/1999/xhtml">
        <div class="head-title">
            <div class="left">
                <h1>Danh sách người dùng</h1>
            </div>
            <a th:href="@{/admin/user/add}" class="btn-download">
                <i class="fa-solid fa-plus"></i>
                <span class="text">Thêm người dùng</span>
            </a>
        </div>
        <div th:if="${message}" class="alert alert-success" role="alert">
            <p th:text="${message}"></p>
        </div>
        <div th:if="${error}" class="alert alert-danger" role="alert">
            <p th:text="${error}"></p>
        </div>

        <div class="table-data">
            <div class="order">
                <table>
                    <thead>
                    <tr>
                        <th>Tên người dùng</th>
                        <th>Số điện thoại</th>
                        <th>Địa chỉ</th>
                        <th>Ngày sinh</th>
                        <th>Quyền</th>
                        <th>Trạng thái</th>
                        <th>Tác vụ</th>
                    </tr>
                    </thead>
                    <tbody th:each="user :${listUser}">
                    <tr>
                        <td th:text="${user.name}"></td>
                        <td th:text="${user.phone}"></td>
                        <td th:text="${user.address}"></td>
                        <td th:text="${#dates.format(user.dateOfBirth, 'yyyy-MM-dd')}"></td>
                        <td th:text="${user.role_id.name}"></td>
                        <td th:text="${user.isActive ? 'Còn hoạt động' : 'Bị chặn'}"></td>
                        <td th:if="${user.isActive == true}">
                            <button style="background-color: rgb(12, 77, 229); border: none; border-radius: 6px;">
                                <a th:href="@{/admin/user-edit/{id}(id=${user.id})}" style=" color: #fff;">
                                    <i class="fa-solid fa-wrench"></i>
                                    Sửa
                                </a>
                            </button>
                            <button style="background-color: rgb(237, 38, 38); border: none; border-radius: 6px;">
                                <a th:href="@{/admin/user-lock/{id}(id=${user.id})}" style=" color: #fff;">
                                    <i class="fa-solid fa-lock"></i>
                                    Chặn
                                </a>
                            </button>
                        </td>
                        <td th:unless="${user.isActive}">
                            <button style="background-color: rgb(12, 77, 229); border: none; border-radius: 6px;">
                                <a th:href="@{/admin/user-edit/{id}(id=${user.id})}" style=" color: #fff;">
                                    <i class="fa-solid fa-wrench"></i>
                                    Sửa
                                </a>
                            </button>
                            <button style="background-color: rgb(10, 132, 10); border: none; border-radius: 6px;">
                                <a th:href="@{/admin/user-unblock/{id}(id=${user.id})}" style="color: #fff;">
                                    <i class="fa-solid fa-unlock"></i>
                                    Bỏ chặn
                                </a>
                            </button>
                        </td>

                    </tr>
                    </tbody>
                </table>
                <!--            next  -->
                <div class="pagination-wrap">
                    <p aria-label="Page navigation example ">
                    <ul class="pagination">
                        <li th:if="${currentPage > 1}" class="page-item">
                            <a  class="page-link" th:href="@{'?pageNo=' + ${currentPage-1}}" aria-label="Previous">
                                <span aria-hidden="true">
                                   <i class="fa-solid fa-angle-left"
                                      style="color: #0d6efd; width: 100%;"></i>
                                </span>
                            </a>
                        </li>
                        <li class="page-item" th:each="i:${#numbers.sequence(1,totalPage)}" th:classappend="${currentPage == i ? 'active' : ''}"><a th:text="${i}" class="page-link" th:href="@{'?pageNo='+ ${i}}">1</a></li>
                        <li th:if="${currentPage < totalPage}" class="page-item">
                            <a class="page-link" th:href="@{'?pageNo=' + ${currentPage+1}}" aria-label="Next">
                                <span aria-hidden="true">
                                   <i class="fa-solid fa-angle-right"
                                      style="color: #0d6efd; width: 100%;"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>
    </span>
