<div class="footer" th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="footer-top">
        <div class="footer-top-left">
            <div class="footer-top-left-items">
                <h3 class="footer-top-item-heading"> Danh mục sản phẩm </h3>
                <ul class="footer-top-list">
                    <li class="footer-item">
                        <a href="" class="footer-item-link">Camera An ninh </a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item-link">Nhà Thông minh </a>
                    </li>
                </ul>
            </div>
            <div class="footer-top-left-items">
                <h3 class="footer-top-item-heading"> Giới thiệu HoangCamPro</h3>
                <ul class="footer-top-list">
                    <li class="footer-item">
                        <a href="" class="footer-item-link">Giới thiệu với chúng tôi </a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item-link">Liên hệ </a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item-link">Tìm nhà phân phối </a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item-link">Trust Center </a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item-link">HoangCaPro Green </a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item-link">HoangCaPro CRS </a>
                    </li>
                </ul>
            </div>
            <div class="footer-top-left-items">
                <h3 class="footer-top-item-heading"> Tin tức và sự kiện </h3>
                <ul class="footer-top-list">
                    <li class="footer-item">
                        <a href="" class="footer-item-link">Phòng tin tức</a>
                    </li>
                </ul>
            </div>
            <div class="footer-top-left-items">
                <h3 class="footer-top-item-heading"> Hỗ trợ </h3>
                <ul class="footer-top-list">
                    <li class="footer-item">
                        <a href="" class="footer-item-link">Hỏi đáp</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item-link">Tải về </a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item-link">Trung tâm bảo hành </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-top-right">
            <h5 class="footer-top-right-heading">
                Theo dõi chúng tôi trên mạng xã hội
            </h5>
            <div class="footer-top-right-heading-icon">
                <i class="fa-brands fa-square-facebook footer-top-right-icon"></i>
                <i class="fa-brands fa-instagram footer-top-right-icon"></i>
                <i class="fa-brands fa-youtube footer-top-right-icon"></i>
                <i class="fa-brands fa-twitter footer-top-right-icon"></i>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="footer-bottom-right-title">
            Copyright © 2024 Đoàn Việt Hoàng D21_TH07 DH52110952
        </div>
        <!-- <div class="footer-bottom-right-language">
          <a href="" class="footer-bottom-right-language-link">
            <i class="fa-solid fa-earth-americas "></i>
            Việt Nam
            <i class="fa-solid fa-caret-down"></i>
          </a>
        </div> -->
    </div>
</div>