<div th:fragment="right" class="col-md-3 col-sm-0 " xmlns:th="http://www.w3.org/1999/xhtml">
  <div class="filter">
    <div class="filter-section">
      <h3>ĐỘ PHÂN GIẢI</h3>
      <label>
        <input type="radio" name="resolution" value="2MP">
        2MP
      </label>
      <label>
        <input type="radio" name="resolution" value="3MP">
        3MP
      </label>
      <label>
        <input type="radio" name="resolution" value="4MP">
        4MP
      </label>
      <label>
        <input type="radio" name="resolution" value="5MP">
        5MP
      </label>
    </div>
    <hr>
    <div class="filter-section">
      <h3>GIÁ</h3>
      <label>
        <input type="checkbox" name="price" value="under500k">
        Giá dưới 500.000₫
      </label>
      <label>
        <input type="checkbox" name="price" value="500k-1m">
        500.000₫ - 1.000.000₫
      </label>
      <label>
        <input type="checkbox" name="price" value="1m-1.5m">
        1.000.000₫ - 1.500.000₫
      </label>
      <label>
        <input type="checkbox" name="price" value="1.5m-2m">
        1.500.000₫ - 2.000.000₫
      </label>
      <label>
        <input type="checkbox" name="price" value="2m-3m">
        2.000.000₫ - 3.000.000₫
      </label>
      <label>
        <input type="checkbox" name="price" value="3m-5m">
        3.000.000₫ - 5.000.000₫
      </label>
      <label>
        <input type="checkbox" name="price" value="over5m">
        Giá trên 5.000.000₫
      </label>
    </div>
    <hr>
    <div class="filter-section">
      <h3>LOẠI SẢN PHẨM</h3>
      <label>
        <input type="checkbox" name="price" value="under500k">
        Camera cố định trong nhà
      </label>
      <label>
        <input type="checkbox" name="price" value="500k-1m">
        Camera trong nhà xoay 360
      </label>
    </div>
  </div>
</div>