<div th:fragment="right" class="col-md-3 col-sm-0 " xmlns:th="http://www.w3.org/1999/xhtml">
  <div id="filter">
    <div class="filter-section">
      <h3>ĐỘ PHÂN GIẢI</h3>
      <label>
        <input type="radio" name="resolution" value="2MP"  class="filter-input">
        2MP
      </label>
      <label>
        <input type="radio" name="resolution" value="3MP" class="filter-input">
        3MP
      </label>
      <label>
        <input type="radio" name="resolution" value="4MP" class="filter-input">
        4MP
      </label>
      <label>
        <input type="radio" name="resolution" value="5MP" class="filter-input">
        5MP
      </label>
    </div>
    <hr>
    <div class="filter-section">
      <h3>GIÁ</h3>
      <label>
        <input type="checkbox" name="price" value="under500k"  class="filter-input">
        Giá dưới 500.000₫
      </label>
      <label>
        <input type="checkbox" name="price" value="500k-1m" class="filter-input">
        500.000₫ - 1.000.000₫
      </label>
      <label>
        <input type="checkbox" name="price" value="1m-1.5m" class="filter-input">
        1.000.000₫ - 1.500.000₫
      </label>
      <label>
        <input type="checkbox" name="price" value="1.5m-2m" class="filter-input">
        1.500.000₫ - 2.000.000₫
      </label>
      <label>
        <input type="checkbox" name="price" value="2m-3m" class="filter-input">
        2.000.000₫ - 3.000.000₫
      </label>
      <label>
        <input type="checkbox" name="price" value="3m-5m" class="filter-input">
        3.000.000₫ - 5.000.000₫
      </label>
      <label>
        <input type="checkbox" name="price" value="over5m" class="filter-input">
        Giá trên 5.000.000₫
      </label>
    </div>
    <hr>
    <div class="filter-section">
      <h3>LOẠI SẢN PHẨM</h3>
      <label>
        <input type="checkbox" name="price" value="under500k">
        Camera cố định trong nhà
      </label>
      <label>
        <input type="checkbox" name="price" value="500k-1m">
        Camera trong nhà xoay 360
      </label>
    </div>
  </div>
</div>