<span xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="head-title">
      <div class="left">
        <h1>Chỉnh sửa thông tin</h1>
      </div>
      <a th:href="@{/admin/profile}" class="btn-download">
        <i class="fa-solid fa-arrow-left"></i>
        <span class="text">Quay lại</span>
      </a>
    </div>
    <div th:if="${message}" class="alert alert-success" role="alert">
      <p th:text="${message}"></p>
    </div>
    <div th:if="${error}" class="alert alert-danger" role="alert">
      <p th:text="${error}"></p>
    </div>
    <form th:object="${user}" method="post" th:action="@{/admin/profile-edit/{id}(id=${user.id})}" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="name" class="form-label">Tên người dùng</label>
        <input type="text" id="name" th:field="${user.name}" class="form-control">
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
      </div>
      <div class="mb-3">
        <label for="phone" class="form-label">Số điện thoại</label>
        <input type="number" id="phone" th:field="${user.phone}" class="form-control" >
        <span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" class="text-danger"></span>
      </div>
      <div class="mb-3">
        <label for="address" class="form-label">Địa chỉ</label>
        <input type="text" id="address" th:field="${user.address}" class="form-control">
        <span th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="text-danger"></span>
      </div>
      <div class="mb-3">
        <label for="dateOfBirth" class="form-label">Ngày sinh</label>
        <input type="date" id="dateOfBirth" th:field="${user.dateOfBirth}" class="form-control">
        <span th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}" class="text-danger"></span>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Mật khẩu mới</label>
        <input type="password" id="password" th:field="*{password}" class="form-control">
        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"></span>
      </div>
      <div class="mb-3">
        <label for="confirm-password" class="form-label">Nhập lại mật khẩu mới</label>
        <input type="password" id="confirm-password" name="confirm-password" class="form-control" placeholder="Nhập lại mật khẩu mới">
      </div>
      <button type="submit" class="btn btn-primary col-mt-10">Lưu</button>

    </form>

  </span>
