<span xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="head-title">
      <div class="left">
        <h1>Hồ sơ của tôi</h1>
      </div>
    </div>

    <form class="form-profile" action="" method="post" enctype="multipart/form-data">
      <!-- Thông tin sản phẩm chính -->
      <div class="row-profile">
        <label class="form-label">Tên: </label>
        <span th:text="${user.name}"></span>
      </div>
      <div class="row-profile">
        <label  class="form-label">Số điện thoại</label>
        <span th:text="${user.phone}"></span>
      </div>
      <div class="row-profile">
        <label  class="form-label">Địa chỉ</label>
        <span th:text="${user.address}"></span>
      </div>
      <div class="row-profile">
        <label  class="form-label">Ngày sinh</label>
        <span th:text="${formattedDateOfBirth}"></span>
      </div>
      <div class="row-profile">
        <label class="form-label">Quyền</label>
        <span th:text="${user.role.name}"></span>
      </div>
      <button class="btn-profile btn-primary ">
        <a th:href="@{/admin/profile/edit}">
          Chỉnh sửa thông tin
        </a>
      </button>
    </form>
  </span>
