<span xmlns:th="http://www.w3.org/1999/xhtml">
        <div class="head-title">
            <div class="left">
                <h1>Thêm sản phẩm</h1>
            </div>
            <a th:href="@{/admin/product}" class="btn-download">
                <i class="fa-solid fa-arrow-left"></i>
                <span class="text">Quay lại</span>
            </a>
        </div>

        <div th:if="${message}" class="alert alert-success" role="alert">
            <p th:text="${message}"></p>
        </div>
        <div th:if="${error}" class="alert alert-danger" role="alert">
            <p th:text="${error}"></p>
        </div>

        <form action="/admin/add-product" method="POST" th:object="${PRODUCT}" enctype="multipart/form-data">

            <!-- Thông tin sản phẩm chính -->
            <div class="mb-3">
                <label for="categoriesName" class="form-label">Chọn danh mục sản phẩm</label>
                <select name="category" id="categoriesName" class="form-control" >
                    <option value="" disabled selected>-- Chọn danh mục --</option>
                    <option th:each="category : ${listCategories}"
                            th:value="${category.id}"
                            th:text="${category.name}"
                            th:selected="${category.id == selectedCategoryId}">
                    </option>
                </select>
            </div>
            <div class="mb-3">
                <label for="productName" class="form-label">Tên sản phẩm</label>
                <input type="text" id="productName" th:field="*{name}"  class="form-control"
                       placeholder="Nhập tên sản phẩm"  >
                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>

            </div>
            <div class="mb-3">
                <label for="brand" class="form-label">Thương hiệu</label>
                <input type="text" id="brand"  th:field="*{brand}"  class="form-control" placeholder="Nhập thương hiệu" >
                <span th:if="${#fields.hasErrors('brand')}" th:errors="*{brand}" class="text-danger"></span>

            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Mô tả</label>
                <textarea id="description"  th:field="*{description}"  class="form-control" rows="4"
                          placeholder="Nhập mô tả sản phẩm"></textarea>
                <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="text-danger"></span>

            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Ảnh sản phẩm</label>
                <input type="file" id="image"  name="image"  class="form-control" accept="image/*" >
<!--                <div th:if="${image}">-->
<!--                    <img th:src="@{${'/uploads/' + image}}" class="product-item-img" >-->
<!--&lt;!&ndash;                    <img th:if="${product.imageUrl != null}" th:src="@{'/uploads/' + ${product.imageUrl}}" alt="Ảnh sản phẩm" width="150">&ndash;&gt;-->
<!--&lt;!&ndash;                    <span th:if="${product.imageUrl == null}">Chưa có ảnh.</span>&ndash;&gt;-->
<!--                </div>-->
            </div>

            <!-- Thông tin biến thể sản phẩm -->
            <h5>Biến Thể Sản Phẩm</h5>
            <div id="variantContainer">
                <div th:if="${variants != null && #lists.size(variants) > 0}">
                    <div class="variant row mb-3"th:each="variant, stat : ${variants}">
                        <hr>
                        <div class="col-md-5">
                            <input type="text" name="variantSku[]" class="form-control"
                                   placeholder="Sku biến thể (VD: Hc1, Hc1-32, Hc1-64 ...)"  th:value="${variant.sku}" >
                        </div>
                        <div class="col-md-5">
                            <input type="text" name="variantStorage[]" class="form-control"
                                   placeholder="Tên biến thể (VD: Không thẻ, 64GB, 128GB, ...)"   th:value="${variant.storage}"  >
                        </div>
                        <div class="col-md-5">
                            <input type="number" name="variantDiscount[]" class="form-control"
                                   placeholder="Giá  giảm (VNĐ)"  oninput="this.value = this.value.replace(/[^0-9]/g, '');"   th:value="${variant.discount}">
                        </div>
                        <div class="col-md-5">
                            <input type="number" name="variantPrice[]" class="form-control" placeholder="Giá gốc (VNĐ)"
                                    oninput="this.value = this.value.replace(/[^0-9]/g, '');" th:value="${variant.price}">
                        </div>
                    </div>
                </div>
                <div th:unless="${variants != null}">
                    <div class="variant row mb-3">
                        <hr>
                        <div class="col-md-5">
                            <input type="text" name="variantSku[]" class="form-control"
                                   placeholder="Sku biến thể (VD: Hc1, Hc1-32, Hc1-64 ...)" >
                        </div>
                        <div class="col-md-5">
                            <input type="text" name="variantStorage[]" class="form-control"
                                   placeholder="Tên biến thể (VD: Không thẻ, 64GB, 128GB, ...)"  >
                        </div>
                        <div class="col-md-5">
                            <input type="number" name="variantDiscount[]" class="form-control"
                                   placeholder="Giá  giảm (VNĐ)"  oninput="this.value = this.value.replace(/[^0-9]/g, '');">
                        </div>
                        <div class="col-md-5">
                            <input type="number" name="variantPrice[]" class="form-control" placeholder="Giá gốc (VNĐ)"
                                   oninput="this.value = this.value.replace(/[^0-9]/g, '');">
                        </div>
                    </div>
                </div>
            </div>
            <button type="button" id="addVariant" class="btn btn-success mb-3">Thêm Biến Thể</button>

            <button type="submit" class="btn btn-primary col-md-5">Thêm Sản Phẩm</button>
        </form>
    </span>
