
  <!-- MAIN -->
  <span xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="head-title">
      <div class="left">
        <h1>Danh sách sản phẩm </h1>
      </div>
      <a th:href="@{/admin/product/add}" class="btn-download">
        <i class="fa-solid fa-plus"></i>
        <span class="text">Thêm sản phẩm</span>
      </a>
    </div>
    <div th:if="${message}" class="alert alert-success" role="alert">
      <p th:text="${message}"></p>
    </div>
    <div th:if="${error}" class="alert alert-danger" role="alert">
      <p th:text="${error}"></p>
    </div>

    <div class="table-data">
      <div class="order">
<!--        <div class="head">-->
<!--          <i class='bx bx-search'></i>-->
<!--          <i class='bx bx-filter'></i>-->
<!--        </div>-->

        <table>
          <thead>
            <tr class="wrap-column">
              <th class="column-product">Loại sản phẩm </th>
              <th class="column-product">Tên sản phẩm </th>
              <th class="column-product">Thương hiệu</th>
              <th class="column-product">Ảnh</th>
              <th class="column-product">Tác vụ</th>
            </tr>
          </thead>
          <tbody th:each="product : ${list}">
            <tr>
              <td th:text="${product.Category.name}">
              </td>
              <td th:text="${product.name}">
              </td>
              <td th:text="${product.brand}">
              </td>
              <td>
                <img th:src="@{${'/uploads/' + product.imageUrl}}" class="product-item-img" th:alt="${product.name}">
  <!--              <img th:src="@{${'/fe/img/' + product.imageUrl}}" class="product-item-img" th:alt="${product.name}">-->
              </td>
              <td>
                <button style="background-color: rgb(7, 128, 41); border: none; border-radius: 6px;">
                  <a th:href="@{/admin/product-detail/{id}(id=${product.id})}" style=" color: #fff;">
                    <i class="fa-solid fa-eye"></i>
                    Xem
                  </a>
                </button>
                <button style="background-color: rgb(12, 77, 229); border: none; border-radius: 6px;">
                  <a th:href="@{/admin/product-Edit/{id}(id=${product.id})}" style=" color: #fff;">
                    <i class="fa-solid fa-wrench"></i>
                    Sửa
                  </a>
                </button>

                <button style="background-color: rgb(237, 38, 38); border: none; border-radius: 6px;"
                        th:if="${#lists.contains(productsFromVariants, product)} == false">
                  <a th:href="@{/admin/product-remove/{id}(id=${product.id})}" style=" color: #fff;">
                    <i class="fa-solid fa-trash"></i>
                    Xóa
                  </a>
                </button>
              </td>
            </tr>

          </tbody>


        </table>
        <!--            next sản phẩm -->
        <div class="pagination-wrap">
          <p aria-label="Page navigation example ">
            <ul class="pagination">
              <li th:if="${currentPage > 1}" class="page-item">
                <a  class="page-link" th:href="@{'?pageNo=' + ${currentPage-1}}" aria-label="Previous">
                    <span aria-hidden="true">
                       <i class="fa-solid fa-angle-left"
                          style="color: #0d6efd; width: 100%;"></i>
                    </span>
                </a>
              </li>
              <li class="page-item" th:each="i:${#numbers.sequence(1,totalPage)}" th:classappend="${currentPage == i ? 'active' : ''}">
                <a th:text="${i}" class="page-link" th:href="@{'?pageNo='+ ${i}}">1</a>
              </li>
              <li th:if="${currentPage < totalPage}" class="page-item">
                <a class="page-link" th:href="@{'?pageNo=' + ${currentPage+1}}" aria-label="Next">
                    <span aria-hidden="true">
                       <i class="fa-solid fa-angle-right"
                          style="color: #0d6efd; width: 100%;"></i>
                    </span>
                </a>
              </li>
            </ul>
          </p>
        </div>

      </div>
    </div>
  </span>
