    <span xmlns:th="http://www.thymeleaf.org">
        <div class="head-title">
            <div class="left">
                <h1>Chi tiết sản phẩm</h1>
            </div>
            <a th:href="@{/admin/product}" class="btn-download">
                <i class="fa-solid fa-arrow-left"></i>
                <span class="text">Quay lại</span>
            </a>
        </div>

        <div class="pd-product-details" th:each="product : ${listProducts}">
            <p class="">
                <strong>Danh mục sản phẩm</strong>
            </p>
            <p class="pd-value" th:text="${product.Category.name}"></p>
            <p class="pd-title">
                <strong>Tên sản phẩm</strong>
            </p>
            <p class="pd-value" th:text="${product.name}"></p>

            <p class="pd-title">
                <strong>Thương hiệu</strong>
            </p>
            <p class="pd-value" th:text="${product.brand}">Hoang Cam</p>

            <p class="pd-title">
                <strong>Ảnh</strong>
            </p>
            <img th:src="@{${'/uploads/' + product.imageUrl}}" class="product-item-img" th:alt="${product.name}">
            <p class="pd-title">
                <strong>Mô tả</strong>
            </p>
            <p class="pd-value" th:utext="${product.description}"></p>

            <table class="custom-table custom-table-striped custom-table-hover custom-table-bordered">
                <thead class="custom-table-header">
                    <tr>
                        <th scope="col">Mã biến thể</th>
                        <th scope="col">Dung lượng</th>
                        <th scope="col">Giá gốc</th>
                        <th scope="col">Giá giảm</th>
                    </tr>
                </thead>
                <tbody  th:each="variant : ${listVariants}">
                    <tr>
                        <th th:text="${variant.sku}"></th>
                        <td  th:text="${variant.storage}"></td>
                        <td th:text="${variant.price}"></td>
                        <td th:text="${variant.discount}"></td>
                    </tr>

                </tbody>
            </table>

        </div>

    </span>
