
  <!-- MAIN -->
  <span xmlns:th="http://www.thymeleaf.org">
    <div class="head-title">
      <div class="left">
        <h1>Danh sách đơn hàng</h1>
      </div>
    </div>

    <div class="table-data">
      <div class="order">
        <table>
          <thead>
          <tr>
            <th>Tên người đặt </th>
            <th>SĐT</th>
            <th>Địa chỉ </th>
            <th>Ngày đặt</th>
            <th>Trạng thái</th>
            <th>Tác vụ</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="order : ${listOrder}">
            <td th:text="${order.recipientName}">
            </td>
            <td th:text="${order.recipientPhone}">
            </td>
            <td th:text="${order.recipientAddress}">
            </td>
            <td th:text="${order.date}">
            </td >
            <td th:text="${order.status}">
            </td >
            <td>
              <button style="background-color: rgb(7, 128, 41); border: none; border-radius: 6px;">
                <a th:href="@{/admin/order/{id}(id=${order.id})}" style=" color: #fff;">
                  <i class="fa-solid fa-eye"></i>
                  Chi tiết
                </a>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
        <!--            next  -->
        <div class="pagination-wrap">
          <p aria-label="Page navigation example ">
          <ul class="pagination">
            <li th:if="${currentPage > 1}" class="page-item">
              <a  class="page-link" th:href="@{'?pageNo=' + ${currentPage-1}}" aria-label="Previous">
                                <span aria-hidden="true">
                                   <i class="fa-solid fa-angle-left"
                                      style="color: #0d6efd; width: 100%;"></i>
                                </span>
              </a>
            </li>
            <li class="page-item" th:each="i:${#numbers.sequence(1,totalPage)}" th:classappend="${currentPage == i ? 'active' : ''}"><a th:text="${i}" class="page-link" th:href="@{'?pageNo='+ ${i}}">1</a></li>
            <li th:if="${currentPage < totalPage}" class="page-item">
              <a class="page-link" th:href="@{'?pageNo=' + ${currentPage+1}}" aria-label="Next">
                                <span aria-hidden="true">
                                   <i class="fa-solid fa-angle-right"
                                      style="color: #0d6efd; width: 100%;"></i>
                                </span>
              </a>
            </li>
          </ul>
          </p>
        </div>
      </div>
    </div>
  </span>
