<span xmlns:th="http://www.w3.org/1999/xhtml">
    <div th:if="${message}" class="alert alert-success" role="alert">
      <p th:text="${message}"></p>
    </div>
    <div th:if="${error}" class="alert alert-danger" role="alert">
      <p th:text="${error}"></p>
    </div>
    <div class="head-title">
      <div class="left">
        <h1>Chi tiết đơn hàng</h1>
      </div>
      <a th:href="@{/admin/order}" class="btn-download">
        <i class="fa-solid fa-arrow-left"></i>
        <span class="text">Quay lại</span>
      </a>
    </div>
    <div class="pd-product-details" >
      <p class="">
        <strong>Tên người đặt hàng</strong>
      </p>
      <p class="pd-value" th:text="${order.recipientName}"></p>
      <p class="pd-title">
        <strong>Số điện thoại</strong>
      </p>
      <p class="pd-value" th:text="${order.recipientPhone}"></p>

      <p class="pd-title">
        <strong>Địa chỉ</strong>
      </p>
      <p class="pd-value" th:text="${order.recipientAddress}">Hoang Cam</p>
<!--note-->
      <p class="pd-title">
        <strong>Ngày đặt</strong>
      </p>
      <p class="pd-value" th:text="${order.date}">Hoang Cam</p>
      <p class="pd-title">
        <strong>Trạng thái đơn hàng</strong>
      </p>
      <p class="pd-value" th:text="${order.status}"></p>
      <p class="pd-title">
        <strong>Trạng thái thanh toán</strong>
      </p>
      <p class="pd-value" th:text="${order.paymentStatus}"></p>
      <p class="pd-title">
        <strong>Phương thức thanh toán</strong>
      </p>
      <p class="pd-value" th:text="${order.paymentMethod}"></p>
      <p class="pd-title">
        <strong>Ghi chú của khách</strong>
      </p>
      <p class="pd-value" th:text="${order.note}"></p>
      <p class="pd-title">
        <strong>Tổng tiền</strong>
      </p>
      <p class="pd-value" th:text="${#numbers.formatInteger(order.totalMoney,3,'POINT')} + 'đ'" ></p>

      <p class="pd-title">
        <strong>Các sản phẩm đã đặt </strong>
      </p>
      <table class="custom-table custom-table-striped custom-table-hover custom-table-bordered">
        <thead class="custom-table-header">
          <tr>
            <th scope="col">Id biến thể</th>
            <th scope="col">Tên sản phẩm</th>
            <th scope="col">Mã sản phẩm</th>
            <th scope="col">Loại sản phẩm</th>
            <th scope="col">Số lượng </th>
            <th scope="col">Giá </th>
            <th scope="col">Tổng tiền</th>
          </tr>
        </thead>
        <tbody  th:each="orderDetail : ${listOrderDetail}">
          <tr>
            <td th:text="${orderDetail.product.id}"></td>
            <td th:text="${orderDetail.product.product.name}"></td>
            <td th:text="${orderDetail.product.sku}"></td>
            <td th:text="${orderDetail.product.storage}"></td>
            <td th:text="${orderDetail.numberOfProducts}"></td>
            <td th:text="${#numbers.formatInteger(orderDetail.price,3,'POINT')} + 'đ'"></td>
            <td th:text="${#numbers.formatInteger(orderDetail.totalPrice,3,'POINT')} + 'đ'"></td>
<!--            <td th:text="${#numbers.formatCurrency(orderDetail.totalPrice)}"></td>-->
          </tr>
        </tbody>
      </table>
      <div class="form-group" th:if="${order.status == 'Chờ duyệt đơn'}">
<!--        cũng có thể dùng th:unless-->
          <a th:href="@{/admin/order/approveOrder/{id}(id=${order.id})}" class="btn btn-primary">
              Duyệt đơn
          </a>
      </div>

    </div>
  </span>
